<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!-- Add this repository to the list of available repositories -->
        <add key="DES Libraries" value="https://pkgs.dev.azure.com/1ES4Devices/_packaging/DESLibraries/nuget/v3/index.json" />
    </packageSources>
</configuration>