.header {
    display: flex;
    height: 50px;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
}

.msftLogo {
    padding: 0px 30px;
}

.headerDivider {
    width: 0.5px;
    background-color: white;
    height: 100%;
}

.headerTitle {
    font-size: 1.3em;
    padding: 0 30px;
    color: white;
}
